body {
  background-color: #f0f0f0;
  padding: 30px;
}

.demo-card-square {
  width: 500px;
  margin: 0 auto;
  .mdl-card {}
  &>.mdl-card__title {
    height: 150px;
    background-color: rgb(255,193,7);
    color: #fff;
    text-transform: uppercase;
  }
}

.modal-sample{
  margin-top: 30px;
  a{
    display: block;
    width: 200px;
    margin: auto;
  }
}

